{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{% form_theme registrationForm 'bootstrap_4_horizontal_layout.html.twig' %}
<div class="text-center">
    <h1 class="display-1">Inscription</h1>
</div>
<div class="d-flex justify-content-center">
    <div class="w-50 p-3 border border-3 ">
    {{ form_start(registrationForm) }}
        <div class="m-2">
            {{ form_row(registrationForm.login) }}
        </div>
        <div class="m-2">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
        </div>
        
        <div class="m-2">
            {{ form_row(registrationForm.email) }}
        </div>
        <div class="m-2">
            {{ form_row(registrationForm.name, {
                label: 'Nom'
            }) }}
        </div>
        <div class="m-2">
            {{ form_row(registrationForm.lastname, {
                label: 'Prénom'
            }) }}
        </div>
        <div class="m-2">
            {{ form_row(registrationForm.birthday_date, {
                label: 'Date de naissance'
            }) }}
        </div>
        <div class="m-2">
            {{ form_row(registrationForm.adress, {
                label: 'Adresse'
            }) }}
        </div>
        <div class="m-2">
            {{ form_row(registrationForm.phone_number, {
                label: 'Numéro de téléphone'
            }) }}
        </div>
        {#{ form_row(registrationForm.agreeTerms) }#}
        <button type="submit" class="btn btn-lg btn-success w-100">S'inscrire</button>
    {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
