{% extends 'base.html.twig' %}

{% block title %}Hello NavigationController!{% endblock %}

{% block body %}

<h1 class="display-1">{{'Panel administrateur' |trans }}</h1>
<style>
    a.btn-dark{
    margin: 5%
}
</style>
<div class="d-flex justify-content-center">
    <a href="{{ path('app_user_index') }}" class="btn btn-dark">{{'Utilisateurs' |trans }}</a>
    <br>
    <a href="{{ path('app_article_index') }}" class="btn btn-dark">{{'Articles'|trans }}</a>
    <br>
    <a href="{{ path('app_commentary_index') }}" class="btn btn-dark">{{ 'Commentaires'|trans }}</a>

</div>




{% endblock %}
