{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}

<h1 class="display-1">{{'Panel administrateur' |trans }}</h1>
<div class="d-grid gap-2 col-6 mx-auto">
    <a href="{{ path('app_user_index') }}" class="btn btn-lg btn-outline-primary w-100 m-4">{{'Utilisateurs' |trans }}</a>
    <a href="{{ path('app_article_index') }}" class="btn btn-lg btn-outline-primary w-100 m-4">{{'Articles'|trans }}</a>
    <a href="{{ path('app_commentary_index') }}" class="btn btn-lg btn-outline-primary w-100 m-4">{{ 'Commentaires'|trans }}</a>
</div>




{% endblock %}
