{% extends 'base.html.twig' %}

{% block title %}Crypto{% endblock %}

{% block body %}
    <h1 class="display-1 text-center">{{ crypto_currency.name }}</h1>

    {% if is_granted('ROLE_EXPERT') %}
        <a class="btn btn-outline-primary" href="{{path('app_article_new', {'id_crypto': crypto_currency.id})}}">
            Ajouter un article
        </a>
    {% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ crypto_currency.name }}</td>
            </tr>
            <tr>
                <th>Symbol</th>
                <td>{{ crypto_currency.symbol }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ crypto_currency.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ crypto_currency.description }}</td>
            </tr>
            <tr>
                <th>Marketcap</th>
                <td>{{ crypto_currency.marketcap }}</td>
            </tr>
            <tr>
                <th>Nb_follow_tt</th>
                <td>{{ crypto_currency.nbFollowTt }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ crypto_currency.category }}</td>
            </tr>
        </tbody>
    </table>

    <h1 class="display-2">Articles</h1>
    {% for article in articles %}
       {% include 'details_crypto/_articlesCrypto.html.twig' with {article: article} only %}
    {% endfor %}

{% endblock %}
