{% extends 'base.html.twig' %}

{% block title %}CryptoCurrency{% endblock %}

{% block body %}
    <h1>CryptoCurrency</h1>

    {% if is_granted('ROLE_EXPERT') %}
        <button><a href="{{path('app_article_new', {'id_crypto': crypto_currency.id})}}">
            Ajouter un article
            </a>
        </button>
    {% endif %}

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ crypto_currency.name }}</td>
            </tr>
            <tr>
                <th>Symbol</th>
                <td>{{ crypto_currency.symbol }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ crypto_currency.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ crypto_currency.description }}</td>
            </tr>
            <tr>
                <th>Marketcap</th>
                <td>{{ crypto_currency.marketcap }}</td>
            </tr>
            <tr>
                <th>Nb_follow_tt</th>
                <td>{{ crypto_currency.nbFollowTt }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ crypto_currency.category }}</td>
            </tr>
        </tbody>
    </table>

    <h1>Articles</h1>
    {% for article in articles %}
        <a href="{{path('app_article_show', {'id': article.id})}}">
        <h2>{{article.titre}}</h2>
        <p>{{article.content}}</p>
        <p>Auteur : {{article.idUser.login}}</p>
        <p>{{article.date ? article.date|date('Y-m-d H:i:s') : '' }}</p>
        </a>
    {% endfor %}

    <a href="{{ path('app_accueil') }}">back to list</a>

{% endblock %}
