{{form_start(form, {attr: {class :'filter'}})}}
    {{form_row(form.inputSearch)}}

    {# <h4>Categories</4> #}
    {# {{form_row (form.category)}} #}
    <h4>Prix</h4>
    <div class="row">
        <div class="col-md-2">
            {{form_row (form.minPrice)}}
        </div>
         <div class="col-md-2">
            {{form_row (form.maxPrice)}}
        </div>
    </div>
    <h4>Market Cap</h4>
        <div class="row">
        <div class="col-md-2">
            {{form_row (form.minMarketCap)}}
        </div>
         <div class="col-md-2">
            {{form_row (form.maxMarketCap)}}
        </div>
    </div>
    <h4>Sort Price</h4>
        <h5> Par prix</h5>
            {{form_row (form.orderPrice)}}
        <h5> Par MarketCap</h5>
            {{form_row (form.orderPriceMarketCap)}}

    <button type="submit" class ="btn btn-primary w-20 ml-auto mt-2">Filtrer</button>
    <a href="{{ path('app_accueil') }}">Supprimer les filtres</a>
{{form_end(form)}}