<style>
#recherche{
   display: flex;
   align-items: center;
}

#categorie{
   display: flex;
   margin-left: 3%;
}

#category{
}

#category_placeholder{
    color:red;
    wrap: test;
}

label{
    margin-top:25%;
}

h4{
    margin-top: 15px;
}


.CenterText{
    text-align: center;
}

.buttonFilter{
    margin-top:15px;
    text-align:center;
}
</style>

{{form_start(form, {attr: {class :'filter'}})}}
     <div id="filters" class="row">
        <div id="recherche">
            {{form_row(form.inputSearch )}}
        </div>
        <div id="categorie" class="">
                <h4>Categories</4>
            <div class="categList row-inline">
                {{form_row (form.category)}}
            </div>

        </div>
        <div>
            <div  id="Price" class="CenterText">
            <h4>Prix</h4>
            </div>
            <div class="row-inlne">
                <div class="col-md-2">
                    {{form_row (form.minPrice)}}
                </div>
                <div class="col-md-2">
                    {{form_row (form.maxPrice)}}
                </div>
            </div>
        </div>
        <div id="MarketCap" class="CenterText">
            <h4>Market Cap</h4>
                <div class="row-inlne">
                <div class="col-md-2">
                    {{form_row (form.minMarketCap)}}
                </div>
                <div class="col-md-2">
                    {{form_row (form.maxMarketCap)}}
                </div>
        </div>
        </div>
        <div id="sortPrice" class="CenterText">
            <h4>Trier</h4>
            <div class="row">
            <div class="col-sm">
            <h5> Par prix</h5>
                {{form_row (form.orderPrice)}}
            </div>
            <div class="col-sm">
            <h5> Par MarketCap</h5>
                {{form_row (form.orderPriceMarketCap)}}
                </div>
                </div>
        </div>

        <div class="buttonFilter col-12">
            <button type="submit" class ="btn btn-primary">Filtrer</button>
            <a href="{{ path('app_accueil') }}">Supprimer les filtres</a>
        </div>
    </div>
{{form_end(form)}}