{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   <table class="table table-hover">
  <thead>
    <tr>

      <th scope="col" class="CenterText">{{'Nom'|trans }}</th>
      <th scope="col" class="CenterText">{{'Symbole'|trans }}</th>
      <th scope="col" class="CenterText">{{'Prix'|trans }}</th>
      <th scope="col" class="CenterText" >{{'Market Cap'|trans }}</th>
    </tr>
  </thead>
  <tbody>

    {% for crypto in cryptos %}
    <tr class="table-secondary CenterText">

      <th scope="row"><a href="{{ path('app_details_crypto', {'id': crypto.id}) }}">{{crypto.name}}</a></th>
      <td><a href="{{ path('app_details_crypto', {'id': crypto.id}) }}">{{crypto.symbol}}</a></td>
      <td><a href="{{ path('app_details_crypto', {'id': crypto.id}) }}">{{crypto.price}}</a></td>
      <td><a href="{{ path('app_details_crypto', {'id': crypto.id}) }}">{{crypto.marketcap}}</a></td>
      
      {% set subId = 0 %}
      {% if user %}
        {% set abo = false %}
        {% for sub in crypto.subscribes %}
          {% for unUser in sub.idUser %}
            {% if user == unUser %}
              {% set abo = true %}
              {% set subId = sub.id %}
            {% endif %}
          {% endfor %}
        {% endfor %}
        {% if abo %}
          {#<td><button><a href="{{path('app_subscribe_delete', {'id': subId})}}">Se désabonner</a></button></td>#}
          <td>{{ include('subscribe/_delete_form.html.twig') }}</td>
        {% else %}
          <td><button><a href="{{path('app_subscribe_new', {'id_crypto': crypto.id})}}" class="btn btn-primary">{{"S'abonner"|trans }}</a></button></td>
        {% endif %}
      {% else %}
        <td><button><a href="{{path('app_subscribe_new', {'id_crypto': crypto.id})}}" class="btn btn-light">{{"S'abonner"|trans }}</a></button></td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
