{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Tous les articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Auteur</th>
                <th>Crypto</th>
                <th>Titre</th>
                {#<th>Contenu</th>#}
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{article.idUser.login}}</td>
                <td>{{article.idCrypto.name}}</td>
                <td>{{ article.titre }}</td>
                {#<td>{{ article.content }}</td>#}
                <td>{{ article.date ? article.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_article_show', {'id': article.id}) }}">détails</a>
                    <a href="{{ path('app_article_edit', {'id': article.id}) }}">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun article trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
