{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h2 class="display-5">Crypto : {{article.idCrypto.name}}</h2>
    <div class="d-flex justify-content-center">
    <div class="border border-3 border-primary w-75 p-4">
        <h1 class="text-center">{{article.titre}}</h1>
        <p>{{article.content}}</p>
        <h3>Auteur : {{article.idUser.login}}</p>
        <h5>Publié le : {{article.date ? article.date|date('Y-m-d H:i:s') : '' }}</p>
    </div>
    </div>
    <br>
    <h1>Commentaires</h1>
    {% for commentary in article.commentaries %}
        {% include 'commentary/show.html.twig' with {commentary: commentary} only %}
    {% endfor %}

    {{ include('commentary/_form.html.twig') }}

{% endblock %}
