{% extends 'base.html.twig' %}

{% block title %}{{ 'Utilisateur'|trans}}{% endblock %}

{% block body %}
    <h1>{{ 'Utilisateur'|trans}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{'Login'|trans}}</th>
                <th>{{'Nom'|trans}}</th>
                <th>{{'Prénom'|trans}}</th>
                <th>{{'Email'|trans}}</th>
                <th>{{'Adresse'|trans}}</th>
                <th>{{'Numéro de téléphone'|trans}}</th>
                <th>{{'Date de naissance'|trans}}</th>
                {# <th>IsExpert</th> #}
                {# <th>Password</th> #}
                <th>{{'Roles'|trans}}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.login }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.adress }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.birthdayDate ? user.birthdayDate|date('Y-m-d') : '' }}</td>
                {# <td>{{ user.isExpert ? 'Yes' : 'No' }}</td> #}
                {# <td>{{ user.password }}</td> #}
                {% if user.roles[0] == "ROLE_MEMBRE" %}
                    <td>Membre</td>
                    <td>
                        <a href="{{path('app_change_expert', {'id': user.id}) }}"> {{'Mettre expert'|trans }}</a> | 
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">{{ 'Modification' |trans}}</a>
                    </td>
        
                {% elseif user.roles[0] == "ROLE_EXPERT" %}
                    <td>Expert</td>
                    <td>
                        <a href="{{path('app_change_expert', {'id': user.id}) }}"> {{'Mettre membre'|trans }}</a> | 
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">{{ 'Modification' |trans}}</a>
                    </td>
                </td>
                {% else %}
                    <td>Administrateur</td>
                    <td>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}">{{ 'Modification' |trans}}</a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="12">{{'Pas de données'|trans}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_register') }}">{{"Créer nouveau"|trans}}</a>
{% endblock %}
